*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    color: rgb(30, 29, 28);
    background-color: rgb(40, 78, 182);
    padding: 20px;
}

header {
    background-color: rgb(29, 151, 221);
    color: white;
    padding: 18px 20px;


    text-align: center;
}

nav ul {
    
    list-style: none;
    background: rgb(8, 6, 147);

}

nav ul li {
    display: inline;
    margin-right: 15px;

}

nav ul li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.302);
}

body {
    margin-top: 15px;
}

section {
    margin-top: 10px;
}

section, article, aside {
    margin-bottom: 20px;
    padding: 15px;
    background: white;
    border: 1px solid color( red green blue);
}

footer {
    text-align: center;
    padding: 10px, 0;
    background-color: rgb(43, 41, 41);
    color: white;
}